<div class="col-lg-4 mt-2">
    <div class="card text-left">
        <div class="card-view ">
            <img class="card-img-top" src="products/{{ ProID }}/main.jpg" alt="">
            <div class="timedown text-center p-2">
                <div class="">{{End}}</div>
            </div>
            <div class="seemore">
                <div class="pb-4"><a href="/account/add-watch-list/{{ ProID }}">Add to <i
									class="fa fa-heart"></i></a></div>
                <div class="pt-4"><a href="/product/{{ProID}}">View More</a></div>
            </div>
        </div>

        <div class="card-body m-2">
            <h4 class="card-title"> <a href="/product/{{ProID}}"> {{ ProName }} </a></h4>
            <h5 class="card-text">
                Current price: <span class="cp mr-auto ml-1"> {{ Price }} VND</span>
            </h5>
            <h6 class="ml-5">By: <strong>{{Name}}</strong></h6>
            <div class="card-body">
                <h6 class="bidder opct-90">Seller: {{NameSeller}}</h6>
                <h6 class="bidder mt-2">Ceil price: <span class="op"> {{ CeilPrice}} VND</span></h6>
                <div>Date post: {{ Post }} </div>
                <div class="">Number of bidders: <strong>{{ number_of_bidded }} </strong></div>
            </div>
        </div>
    </div>
</div>