<!DOCTYPE html>
<html lang="vn">

<head>
	{{>import/head}}
	<link rel="stylesheet" href="./assets/css/product_details.css">
</head>

<body>
	{{>import/navbar}}
	<div class="container">
		<div class="card">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-6" id="product_details_img">

						<div class="preview-pic tab-content">
							<div class="tab-pane active" id="pic-1"><img src="./products/{{product.ProID}}/main.jpg" />
							</div>
							<div class="tab-pane" id="pic-2"><img src="./products/{{product.ProID}}/sub1.jpg" /></div>
							<div class="tab-pane" id="pic-3"><img src="./products/{{product.ProID}}/sub2.jpg" /></div>
						</div>
						<ul class="preview-thumbnail nav nav-tabs">
							<li class="active"><a data-target="#pic-1" data-toggle="tab"><img
										src="./products/{{product.ProID}}/main.jpg" /></a></li>
							<li><a data-target="#pic-2" data-toggle="tab"><img
										src="./products/{{product.ProID}}/sub1.jpg" /></a></li>
							<li><a data-target="#pic-3" data-toggle="tab"><img
										src="./products/{{product.ProID}}/sub2.jpg" /></a></li>
						</ul>

					</div>
					<div class="details col-md-6">
						<div class="mb-1">
							<a href="/category/{{category.CategoryID}}">{{category.CatName}}</a> >
							<a
								href="/category/{{category.CategoryID}}/{{subCategory.SubCatID}}">{{subCategory.SubCateName}}</a>
						</div>
						<h3 class="product-title">{{product.ProName}}</h3>
						<div class="rating">
							<div class="stars">
								{{#for 0 product.Rating 1}}
								<span class="fa fa-star checked"></span>
								{{/for}}
								{{#for 0 10-product.Rating 1}}
								<span class="fa fa-star"></span>
								{{/for}}
							</div>
							<span class="review-no">Rating: {{product.Rating}}/10</span>
						</div>
						<h4><strong>Post Time: {{ product.create_time }} </strong> </h4>
						<h4><strong>End Time: {{ product.end_time }} </strong> </h4>
						<div class="seller">Seller: {{seller.f_fullname}}</div>
						<p class="product-description">{{{product.Description}}}</p>
						<h4 class="price">current price: <span>{{product.Price}} VND</span></h4>
						<h6 class="price mb-1">ceil price: <span>{{product.CeilPrice}} VND</span></h6>
						<div class="action mt-2">
							{{#if canBidded }}
								<p data-placement="top" data-toggle="tooltip" title="Bidd">
								<button class="add-to-cart btn btn-default" 
									data-toggle="modal" data-target="#check">Offer: {{ Offer }}</button>
								</p>
							{{/if}}
							
							<a class="like btn btn-default" type="button" href="/account/add-watch-list/{{ product.ProID }}"><span
									class="fa fa-heart"></span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
			<form id="hiddenForm" method="POST">
				<input type="hidden" id="Price" name="priceOdrder" value="{{ Offer }}">
				<input type="hidden" id="Seller" name="Seller" value="{{ seller.f_userID }}">
				<input type="hidden" id="ProID" name="ProID" value="{{ product.ProID }}">
			</form>

		<div class="container mt-5">
			<h3>BIDDED</h3>
				<div class="container">
				<div class="row">
					<table class="table table-bordered">
				<thead>
				<tr>
					<th>Name</th>
					<th>Rating</th>
					<th>Price</th>
					<th>Bidded Date</th>
				</tr>
				</thead>
				{{#each listofBidded }}
					<tbody>
						<tr>
						<td>{{ f_fullname }}</td>
						<td>{{ f_rating }}</td>
						<td>{{ PriceOrdered }}</td>
						<td>{{ OrderDate }} </td>
					</tr>
					</tbody>
				{{/each}}
				</table>							
			<h3>SAME PRODUCTS</h3>
			<div class="row">
				{{#each sameProducts}}
					{{> import/product_view}}
				{{/each}}
			</div>
		</div>
	</div>
	{{>import/modal}}
	<script>
		function bidded()
		{
			
			$("#hiddenForm").attr('action', '/product/bidded-now');
			$("#hiddenForm").submit();
		}
	</script>
	{{> import/b4_script}}
</body>

</html>