<div>
    {{#each pro}}
    <div class="card shadow">
        <img class="img-responsive" style="margin:0 auto;" src="/images/sp/{{ProID}}/main.jpg" alt="{{ProName}}" width="400" height="300">
        <div class="card-body align-self-center" style="text-align: center;">
            <h2 class="card-title">{{ProName}}</h2>
            <h3>Giá: {{Price}} đồng</h3>
            <h4>Số lượng: {{Quantity}}</h4>
            <h6>{{TinyDes}}</h6>
            <p class="card-text" style="text-align: center; list-style-position: inside;">{{{FullDes}}}</p>
        </div>
    </div>
    {{/each}}
</div>