<div class="card-header text-white bg-primary">Main</div>
<div class="card-body">
    <div class="container mt-4">
        <div class="row">
            {{#each ps}}
            <div class="col-auto mb-3">
                <div class="card" style="width: 18rem;">
                    <img src="/images/sp/{{ProID}}/main.jpg" alt="{{ProName}}" width="200" height="150">
                    <div class="card-body">
                        <a href="/cat/product/{{ProID}}">
                            <h5 class="card-title">{{ProName}}</h5>
                        </a>
                        <h6 class="card-subtitle mb-2 text-muted">Số lượng: {{Quatity}}</h6>
                        <p class="card-text">{{TinyDes}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>