<!DOCTYPE html>
<html lang="vn">

<head>
	{{>import/head}}
	<link rel="stylesheet" href="./assets/css/product_details.css">
</head>

<body>
	{{>import/navbar}}
	<div class="container">
		<div class="card">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-6" id="product_details_img">

						<div class="preview-pic tab-content">
							<div class="tab-pane active" id="pic-1"><img src="./products/{{product.ProID}}/main.jpg" />
							</div>
							<div class="tab-pane" id="pic-2"><img src="./products/{{product.ProID}}/sub1.jpg" /></div>
							<div class="tab-pane" id="pic-3"><img src="./products/{{product.ProID}}/sub2.jpg" /></div>
						</div>
						<ul class="preview-thumbnail nav nav-tabs">
							<li class="active"><a data-target="#pic-1" data-toggle="tab"><img
										src="./products/{{product.ProID}}/main.jpg" /></a></li>
							<li><a data-target="#pic-2" data-toggle="tab"><img
										src="./products/{{product.ProID}}/sub1.jpg" /></a></li>
							<li><a data-target="#pic-3" data-toggle="tab"><img
										src="./products/{{product.ProID}}/sub2.jpg" /></a></li>
						</ul>

					</div>
					<div class="details col-md-6">
						<div class="mb-1">
							<a href="/category/{{category.CategoryID}}">{{category.CatName}}</a> 
							<a
								href="/category/{{category.CategoryID}}/{{subCategory.SubCatID}}">{{subCategory.SubCateName}}</a>
						</div>
						<h3 class="product-title">{{product.ProName}}</h3>
						<div class="rating">
							<div class="stars">
								{{#for 0 product.Rating 1}}
								<span class="fa fa-star checked"></span>
								{{/for}}
								{{#for 0 10-product.Rating 1}}
								<span class="fa fa-star"></span>
								{{/for}}
							</div>
							<span class="review-no">Rating: {{product.Rating}}/10</span>
						</div>
						<h4><strong>Post Time: {{ product.create_time }} </strong> </h4>
						<h4><strong>End Time: {{ product.end_time }} </strong> </h4>
                        <div class="form-group">
                            <label class="control-label" for="description">Description</label>
							<form method="POST" id="hiddenForm{{product.ProID}}">
								<div class="input-wrap">
                                <textarea type="description" class="form-control" name="description" id="description"
                                    rows="7">{{{product.Description}}}</textarea>
								<input type="hidden" value="{{product.ProID}}" id="ProID_" name="ProID_">
                            	</div>
							</form>
                            
                        </div>
						<h4 class="price">current price: <span>{{product.Price}} VND</span></h4>
						<h6 class="price mb-1">ceil price: <span>{{product.CeilPrice}} VND</span></h6>
						<div class="action my-5">
                            <button class="btn btn-danger float-right" type="button" onclick="cancel({{product.ProID}})">Cancel</button>
							<button class="btn btn-success float-right" type="button"onclick="update_dirip({{product.ProID}})">Save</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
        function update_dirip(ProID)
        {
            let form = `#hiddenForm${ProID}`;
            console.log("hi");
            $(form).attr('action', '/seller/add-descript/update');
			$(form).submit();
        }
    </script>
	<script>
        function cancel(ProID)
        {
            let form = `#hiddenForm${ProID}`;
            console.log("hi");
            $(form).attr('action','/seller/products-owned');
			$(form).submit();
        }
    </script>
	{{> import/b4_script}}
</body>

</html>