<!DOCTYPE html>
<html lang="vn">

<head>
    {{>import/head}}
    <link rel="stylesheet" href="./assets/css/product_details.css">
</head>

<body>
    {{>import/navbar}}
    <div class="container">
        <form class="shadow px-3" action="/seller/post-product" method="POST">
            <div class="container-fliud">
                <div class="wrapper row">
                    <div class="preview col-md-12 mb-5" id="product_details_img">
                        <h4>Upload images</h4>
                        <input id="input-fcount-1" name="input-fcount-1[]" multiple type="file" accept="image/*">
                    </div>
                    <div class="details col-md-12">
                        <div class="form-group">
                            <div class="row">
                                {{!-- <select id="CategoryPicker" name="category" class="col-4">
                                    <option value="" selected disabled hidden>Category</option>
                                </select> --}}
                                <select id="SubCategoryPicker" name="subcategory" class="col-4">
                                    <option value="" selected disabled hidden>SubCategory</option>
                                    {{#each allSubCate}}
                                    <option value="{{SubCateName}}" class="{{categoryID}}">
                                        {{SubCateName}}
                                    </option>
                                    {{/each}}
                                </select>
                                <p class="my-auto ml-4">Category ID: </p>
                                <input class="col-4 ml-2" id="Category" readonly="readonly"></input>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="ProName">Product name</label>
                            <div class="input-wrap">
                                <input type="text" name="ProName" class="form-control" id="ProName"
                                    placeholder="Product name">
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label no-lh" for="end_time">
                                End time
                            </label>
                            <div class="input-wrap">
                                <fieldset class="end_time-picker-day ml-3">
                                    <div class="row">
                                        <select class="end_time form-control col-2" name="end_time[day]">
                                            {{#each total_day.total_date}}
                                            <option value="{{date}}">
                                                {{date}}
                                            </option>
                                            {{/each}}
                                        </select>
                                        <select class="birth-month form-control col-2" name="end_time[month]">
                                            {{#each total_day.total_month}}
                                            <option value="{{month}}">
                                                {{month}}</option>
                                            {{/each}}
                                        </select>
                                        <select class="birth-year form-control col-2" name="end_time[year]">
                                            {{#each total_day.total_year}}
                                            <option value="{{year}}">
                                                {{year}}
                                            </option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </fieldset>
                                <fieldset class="end_time-picker ml-3">
                                    <div class="row">
                                        <select class="end_time form-control col-2" name="end_time[hours]">
                                            {{#each total_day.total_hour}}
                                            <option value="{{hour}}">
                                                {{hour}} H
                                            </option>
                                            {{/each}}
                                        </select>
                                        <select class="birth-month form-control col-2" name="end_time[minutes]">
                                            {{#each total_day.total_minute}}
                                            <option value="{{minute}}">
                                                {{minute}} M
                                            </option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div>
                            <textarea name="area2" style="width: 100%;" id="area2">

                            </textarea>
                        </div>
                        <h4 class="price">
                            <div class="form-group">
                                <label class="control-label" for="price" >Price</label>
                                <div class="input-wrap">
                                    <input type="number" name="price" class="form-control" id="price"
                                        placeholder="Price (VND)">
                                </div>
                            </div>
                        </h4>
                        <h4 class="price">
                            <div class="form-group">
                                <label class="control-label" for="ceilprice">ceil price</label>
                                <div class="input-wrap">
                                    <input type="number" name="ceilprice" class="form-control" id="ceilprice"
                                        placeholder="Ceil Price (VND)">
                                </div>
                            </div>
                        </h4>
                        <h5 class="price">
                            <div class="form-group">
                                <label class="control-label" for="increaseprice">increase price</label>
                                <div class="input-wrap">
                                    <input type="number" name="increaseprice" class="form-control" id="increaseprice"
                                        placeholder="Increase Price (VND)">
                                </div>
                            </div>
                        </h5>
                        <div class="form-group">
                            <div class="input-wrap margin">
                                <label class="checkbox">
                                    <input type="checkbox" id="is_auto_increase" name="is_auto_increase" value="checked">
                                        Is Auto Increase Time
                                </label>
                            </div>
                        </div>
                        <div class="action my-5">
                            <button class="btn btn-danger float-right" type="button">Cancel</button>
                            <input type="submit" class="btn btn-success float-right" value="Save">
                            
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    {{> import/b4_script}}
    <script src="./assets/js/nicEdit.js" type="text/javascript"></script>
    <script src="./assets/js/post-product.js" type="text/javascript"></script>
    <script>
        $("#input-fcount-1").fileinput({
            uploadUrl: "/products/669",
            autoReplace: true,
            maxFileCount: 3,
            allowedFileExtensions: ["jpg", "png"]
        });
    </script>
</body>

</html>