<!DOCTYPE html>
<html lang="en">

<head>
    {{>import/head}}
</head>

<body>
    {{>import/navbar}}
    <div class="d-flex" id="wrapper">

        <div id="page-content-wrapper">
            <div class="mx-5 shadow p-3 bg-white rounded my-3">
                <h1 class="text-center text-primary">Học phần</h1>
                <div class="float-right mx-2">
                    <button type="button" class="btn btn-primary" onClick="goToSemesterSchoolyear()">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
                <div class="float-right mx-2 row">
                    <div class="form-group col-xs-6">
                        <div class="form-control">
                            <select id="schoolyear" name="schoolyear">
                                {{#each total_schoolyears}}
                                <option value="{{id}}" {{#ifCond ../schoolyear_ id}} selected="selected" {{/ifCond}}>
                                    {{schoolyear}}
                                </option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-xs-6">
                        <div class="form-control">
                            <select id="semester" name="semester">
                                {{#each total_semesters}}
                                <option value="{{id}}" {{#ifCond ../semester_ semester}} selected="selected"
                                    {{/ifCond}}>
                                    {{#ifCond id 0}} {{else}} Học kì {{/ifCond}} {{semester}}
                                </option>

                                {{/each}}
                            </select>
                        </div>
                    </div>

                </div>
                <table class="table table-hover table-striped">
                    <thead class="black white-text">
                        <tr class="d-flex">
                            <th class="col-1">CourseID</th>
                            <th class="col-3">Chuyên ngành</th>
                            <th class="col-4">Tên học phần</th>
                            <th class="col-1">Tín chỉ</th>
                            <th class="col-1">Đạt</th>
                            <th class="col-2">Xóa</th>
                        </tr>
                    </thead>
                    {{#if list_empty}}
                </table>
                <div>
                    <h3 class="text-dark">
                        TRỐNG :(
                    </h3>
                </div>
                {{else}}
                <tbody>
                    {{#each courses}}
                    <form method="POST" action="/score/edit" id="hiddenForm{{id}}">
                        <div class="h4">
                            <tr class="d-flex">
                                <td class="col-1">{{id}}</td>
                                <td class="col-3">
                                    {{majorname}}
                                </td>
                                <td class="col-4">
                                    {{name}}
                                </td>
                                <td class="col-1">
                                    {{credit}}
                                </td>
                                <td class="col-1">
                                    {{qualify}}
                                </td>
                                <td class="col-2">
                                    <a href="/score/{{studyid}}">
                                        <button class="btn btn-info">
                                            <i class="far fa-info-circle"></i>
                                        </button>
                                    </a>
                                    <input type="hidden" name="studyid" id="studyid" value="{{studyid}}">
                                    <button type="button" class="btn btn-danger" onclick="deleteStudy({{id}})">
                                        <i class="fad fa-trash-alt"></i>
                                    </button>
                                </td>
                            </tr>
                        </div>
                    </form>
                    {{/each}}
                    <div>
                        <tr class="d-flex">
                            <td class="col-1"></td>
                            <td class="col-3"></td>
                            <td class="col-4">
                                <div class="font-weight-bold text-right mx-5">Tổng</div>
                            </td>
                            <td class="col-1">{{courses_credit}}</td>
                            <td class="col-1">{{qualify_count}}/{{course_count}}</td>
                            <td class="col-2">
                                <a href="/study/add">
                                    <button type="submit" class="btn btn-success">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </a>
                            </td>
                        </tr>
                    </div>
                </tbody>
                </table>
                {{/if}}

                <hr>
            </div>
        </div>
    </div>
    <script>
        function deleteStudy(studyID) {
            let form = `#hiddenForm${studyID}`;
            $(form).attr('action', '/study/delete');
            $(form).submit();
        }
        function goToSemesterSchoolyear() {
            var semester_valueSelected = $('#semester').find(":selected").val();
            var schoolyear_valueSelected = $('#schoolyear').find(":selected").val();
            if (schoolyear_valueSelected == 0) {
                window.location.href = `?schoolyear=${schoolyear_valueSelected}&semester=${semester_valueSelected}`;
            } else {
                window.location.href = `?schoolyear=${schoolyear_valueSelected}&semester=${semester_valueSelected}`;
            }
        }
    </script>
    {{> import/b4_script}}
</body>

</html>