<!DOCTYPE html>
<html lang="en">

<head>
    {{>import/head}}
    <link rel="stylesheet" href="./assets/css/profile.css">
</head>

<body>
    <div class="d-flex" id="wrapper">
        {{>import/navbar}}
        <div id="page-content-wrapper">
            {{#if isSeller}}
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom bg-dark">
                <a class="btn btn-success mx-1" href="/admin/list-user">Quản lý tài khoản</a>
                <a class="btn btn-info mx-1" href="/admin/course">Quản lý học phần</a>
            </nav>
            {{else if isBidder}}
            {{else}}
            {{/if}}
            <form class="profile_box" onsubmit="return changePassword(this)" action="/account/profile" method="POST"
                id="edit-account">
                <h1>Profile</h1>
                <div class="form-group">
                    <label class="control-label" for="fullname">Họ và tên</label>
                    <div class="input-wrap">
                        <input type="text" name="fullname" class="form-control" id="fullname" value="{{infor.fullname}}"
                            placeholder="Fullname">
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="username">MSSV</label>
                    <div class="input-wrap">
                        <input type="text" name="username" class="form-control" id="username" value="{{infor.name}}"
                            placeholder="Username" disabled="">
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label no-lh" for="birthdate">
                        Ngày sinh
                    </label>
                    <div class="input-wrap" id="birthday_border">
                        <fieldset class="birthday-picker ml-3">
                            <div class="row">
                                <select class="birth-day form-control col-3" name="birth[day]">
                                    {{#each total_day.total_date}}
                                    <option value="{{date}}" {{#if isSelected}} selected="selected" {{/if}}>
                                        {{date}}
                                    </option>
                                    {{/each}}
                                </select>
                                <select class="birth-month form-control col-3" name="birth[month]">
                                    {{#each total_day.total_month}}
                                    <option value="{{month}}" {{#if isSelected}} selected="selected" {{/if}}>
                                        {{month}}</option>
                                    {{/each}}
                                </select>
                                <select class="birth-year form-control col-3" name="birth[year]">
                                    {{#each total_day.total_year}}
                                    <option value="{{year}}" {{#if isSelected}} selected="selected" {{/if}}>
                                        {{year}}
                                    </option>
                                    {{/each}}
                                </select>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-wrap margin">
                        <label class="control-label" class="checkbox">
                            <input type="checkbox" id="is_change_pass" name="is_change_pass" value="checked">
                            Đổi password?
                        </label>
                    </div>
                </div>
                <div class="password-group">
                    <div class="form-group">
                        <label class="control-label" for="old_password">Password hiện tại</label>
                        <div class="input-wrap">
                            <input type="password" name="old_password" class="form-control" id="old_password" value=""
                                autocomplete="off" placeholder="Password hiện tại">
                            <span class="help-block"></span>
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="control-label" for="new-password">Password mới</label>
                        <div class="input-wrap">
                            <input type="password" name="new_password" class="form-control" id="new_password" value=""
                                autocomplete="off" placeholder="Password mới">
                            <span class="help-block"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="re_new_password">Nhập lại Password mới</label>
                        <div class="input-wrap">
                            <input type="password" name="re_new_password" class="form-control" id="re_new_password"
                                value="" autocomplete="off" placeholder="Nhập lại Password mới">
                            <span class="help-block"></span>
                        </div>
                    </div>
                </div>
                <input type="submit" class="btn" value="Save">
                <a href="/account/signout"><button type="button" class="btn" id="signout" />Signout</button></a>
            </form>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->

    {{> import/b4_script}}
</body>

</html>