<!DOCTYPE html>
<html lang="en">

<head>
    {{>import/head}}
</head>

<body>
    {{>import/navbar}}
    <div class="d-flex" id="wrapper">

        <div id="page-content-wrapper">
            <h1 class="container text-center mt-5">Customize</h1>
            <div class="container shadow p-3 bg-white rounded my-3">
                <h1 class="text-center text-primary">Học phần</h1>
                <table class="table table-hover table-striped">
                    <thead class="black white-text">
                        <tr class="d-flex">
                            <th class="col-1">CourseID</th>
                            <th class="col-2">MajorID</th>
                            <th class="col-4">Tên học phần</th>
                            <th class="col-2">Tín chỉ</th>
                            <th class="col-3">Chỉnh sửa</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each courses}}
                        <div>
                            <tr class="d-flex">
                                <td class="col-1">{{id}}</td>
                                <form method="POST" action="/admin/course/edit" id="hiddenForm{{id}}">
                                    <td class="col-2">
                                        <div class="form-group">
                                            <div class="input-wrap">
                                                <input type="number" name="majorid" class="form-control"
                                                    id="majorid" value="{{major}}" placeholder="MajorID">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="col-4">
                                        <div class="form-group">
                                            <div class="input-wrap">
                                                <input type="text" name="coursename" class="form-control"
                                                    id="coursename" value="{{name}}" placeholder="Tên học phần">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="col-2">
                                        <div class="form-group">
                                            <div class="input-wrap">
                                                <input type="number" name="credit" class="form-control"
                                                    id="credit" value="{{credit}}" placeholder="credit">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="col-3">
                                        <input type="hidden" name="majid" id="majid" value="{{major}}">
                                        <input type="hidden" name="courseid" id="courseid" value="{{id}}">
                                        <a href="#">
                                            <button type="submit" class="btn btn-warning">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                        </a>
                                        <button type="button" class="btn btn-danger"
                                            onclick="deleteCourse({{id}})">
                                            <i class="fad fa-trash-alt"></i>
                                        </button>

                                    </td>
                                </form>
                            </tr>
                        </div>
                        {{/each}}
                        <div>
                            <tr class="d-flex">
                                <form method="POST" action="/admin/course/add">
                                    <td class="col-1"></td>
                                    <td class="col-2">
                                        <div class="form-group">
                                            <div class="input-wrap">
                                                <input type="number" name="majorid" class="form-control"
                                                    id="majorid" value="" placeholder="MajorID">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="col-4">
                                        <div class="form-group">
                                            <div class="input-wrap">
                                                <input type="text" name="coursename" class="form-control"
                                                    id="coursename" value="" placeholder="Tên học phần">
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="col-2">
                                        <div class="form-group">
                                            <div class="input-wrap">
                                                <input type="number" name="credit" class="form-control"
                                                    id="credit" value="" placeholder="credit">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="col-3">

                                        <button type="submit" class="btn btn-primary">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                </form>
                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
                <hr>
            </div>

            <div class="container shadow p-3 bg-white rounded my-3">
                <h1 class="text-center text-primary">Chuyên ngành</h1>
                <table class="table table-hover table-striped">
                    <thead class="black white-text">
                        <tr class="d-flex">
                            <th class="col-4">MajorID</th>
                            <th class="col-8">Tên chuyên ngành</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each majors}}
                        <div>
                            <tr class="d-flex">
                                <td class="col-4">{{id}}</td>
                                <td class="col-8">{{name}}</td>
                            </tr>
                        </div>
                        {{/each}}
                    </tbody>
                </table>
                <hr>
            </div>
        </div>
    </div>
    <script>
        function deleteCourse(courseID) {
            let form = `#hiddenForm${courseID}`;
            $(form).attr('action', '/admin/course/delete');
            $(form).submit();
        }
    </script>
    {{> import/b4_script}}
    <script src="./assets/js/watch-list.js"></script>
</body>

</html>