<!DOCTYPE html>
<html lang="en">

<head>
    {{>import/head}}
</head>

<body>
    {{>import/navbar}}
    {{!-- Ảnh, tên, giá, tg kết thúc --}}
    <h1 class="container text-center mt-5">Account</h1>
    <div class="container shadow p-3 bg-white rounded my-3">
        <h1 class="text-center">Promotion List</h1>
        {{#if isEmpty}}
        <div>You don't have any promotion request</div>
        {{else}}
        <table class="table table-hover table-striped">
            <thead>
                <tr class="d-flex">
                    <th class="col-2">PromoteID</th>
                    <th class="col-3">Time request</th>
                    <th class="col-2">UserID</th>
                    <th class="col-3">Username</th>
                    <th class="col-2">Accept</th>
                </tr>
            </thead>
            <tbody>
                {{#each listOfProm}}
                <div>
                    <tr class="d-flex">
                        <td class="col-2">{{PromoteID}}</td>
                        <td class="col-3">{{Time}}</td>
                        <td class="col-2">
                            {{UserID}}
                        </td>
                        <td class="col-3">
                            {{f_username}}
                        </td>
                        <td class="col-2">
                            <form method="POST" id="hiddenForm{{PromoteID}}">
                                <input type="hidden" value="{{PromoteID}}" id="PromoteID_" name="PromoteID_">
                                <input type="hidden" value="{{UserID}}" id="UserID_" name="UserID_">
                            </form>
                            <button type="button" class="btn btn-success" onclick="accept({{PromoteID}})">
                                    <i class="fas fa-check-square"></i>
                                </button>
                                <button type="button" class="btn btn-danger" onclick="denied({{PromoteID}})">
                                    <i class="fas fa-window-close"></i>
                                </button>
                        </td>
                    </tr>
                </div>
                {{/each}}
            </tbody>
        </table>
        {{/if}}
        <hr>
    </div>
    <script>
        function accept(PromoteID)
        {
            let form = `#hiddenForm${PromoteID}`;
            console.log("hi");
            $(form).attr('action', '/admin/up-level/accept');
			$(form).submit();
        }
    </script>
    <script>
        function denied(PromoteID)
        {
            let form = `#hiddenForm${PromoteID}`;
            console.log("hi");
            $(form).attr('action', '/admin/up-level/denied');
			$(form).submit();
        }
    </script>
    {{> import/b4_script}}
    <script src="./assets/js/watch-list.js"></script>
</body>

</html>